:root{
	--blue1: #03045e;
	--blue2: #023e8a;
	--blue3: #0077b6;
	--blue4: #0096c7;
	--blue5: #00b4d8;
	--blue6: #48cae4;
	--blue7: #90e0ef;
	--blue8: #ade8f4;
	--blue9: #caf0f8;
	
	--dark-grey1: #212529;
	--dark-grey2: #343a40;
	--dark-grey3: #495057;
	--dark-grey3-hover: #4e555c;

	--grey1: #6c757d;
	--grey2: #adb5bd;
	--grey3: #ced4da;

	--white1: #dee2e6;
	--white2: #e9ecef;
	--white3: #f8f9fa;
}